[profile poc]
region=us-east-1
output=json
default_username={{env.Getenv "USER"}}
sso_start_url=https://my_domain.awsapps.com/start
sso_account_id=My_Account_ID
sso_role_name=My_Role
sso_region=us-east-1

[default]
region=us-east-1
output=json